header {
  background-color: getColour(primary);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;

  li {
    list-style: none;
  }

  ul {
    display: flex;
    padding: 0;
    padding-top: 2.4em;
  }
}

li {
  a {
    color: getColour(secondary);
    text-decoration: none;
    margin: 10px;
  }
  a:hover {
    text-decoration: underline;
  }
}

.active {
  color: darken(getColour(secondary), 30);
}
.logo {
  img {
    width: 70%;
    margin: 10px;
  }
}
