h1,
h2,
nav,
header {
  font-family: "Noto Serif Display", serif;
}

p,
.categories-link {
  font-family: roboto;
}

p {
  font-weight: 300;
}
h1 {
  text-align: center;
  font-size: 40px;
  @media (min-width: 500px) {
    font-size: 4.5em;
    margin-bottom: 3px;
  }
}
h2 {
  margin-top: 5px;
  font-size: 2.5em;
}

p {
  font-size: 1.4em;
}

h1,
h2,
nav {
  color: getColour(secondary);
}

li {
  a {
    font-size: 22px;
  }
}

.categories-link {
  font-size: 1.4em;
}
